{% extends "base.html" %}

{% block main %}
<h1 class="header"><b>Contact Form<b></h1>

<hr>
<p class="txt">Fill in this form to contact the site owners.</p>
<br>
<form action="{{url_for('contact')}}" method="post">  
	<div> 
		<label for="name">Name</label><span>[Required]</span>
		<br>
		<p class="txt">Please enter your full name</p>
		<input type="text" id="name" name="fullname" size="50" required/>   
	</div>
	<br> 
	<div>
		<label for="mail">E-mail</label><span>[Required]</span>
		<br>
		<p class="txt">Please enter your e-mail address</p>
		<input type="email" id="mail" name="email" size="50" required/>   
 	</div>
 	<br>
 	<div>
		<label for="subject">Subject</label><span>[Required]</span>
		<br>
		<p class="txt">Please enter the subject:for your message.</p>
		<input id="subject" name="subject" size="50" required/>
	</div>
	<br>
 	<div>
		<label for="msg">Message</label><span>[Required]</span>
		<br>
		<p class="txt">Please enter the message you would like to send.</p>
		<textarea id="msg" name="message" rows="4" cols="50" required></textarea>
	</div>
 	<br>
<button type="submit" class="submit">Send</button> 
</form>
{% endblock %}